# **Absolute Beginner**

Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

In [1]:
a= int(input())
b= a*1
c= a*2
d= a*3

print(b,c,d)

3
3 6 9

You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

In [2]:
radius= float(input())
b= 2*3.14159*radius
print(round(b, 2))

4
25.13

You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

Input Description:
You are provided with two numbers A and B.

Output Description:
Find the sum of the two numbers (A + B)

In [3]:
A= float(input())
B= float(input())
C= A+B
print(round(C))

2.7
3.5
6

You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

In [4]:
A= int(input())
B= A*1000
C= B*100
print(B)
print(C)

34
34000
3400000

You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

In [5]:
a = int(input())
factorial= 1
for i in range(1, a+1):
    factorial= factorial*i
print(factorial)

5
120

You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:
An integer N is provided to you as the input.

Output Description:
Find the Nth term in the provided series.

In [6]:
a= int(input())
if a<0:
    print("Error")
else:
    print(a*a)

5
25

You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area “C”.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

In [7]:
length= int(input())
breadth= int(input())
area= length*breadth
print(round(area))

4
5
20

Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

In [8]:
a= int(input())
l= []
for x in range(1,a+1):
  R= x*9
  l.append(R)
print(*l)

6
9 18 27 36 45 54

Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

In [9]:
a= int(input())
print(a)
print(a)
print(a)
print(a)
print(a)

5
5
5
5
5
5

You are given with a number "N", find its cube.

Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

In [10]:
a= int(input())
print(a*a*a)

5
125