# Codekata_Mathematics_12

You are given with an array. Your task is to print the left rotated array after k opearations.

Time:O(n)

Extra Space: O(1)

Input Description:
First line contains two number ‘n’ and ‘k’.Next line contains n space separated numbers.

Output Description:
Print the array as mentioned.

In [1]:
from collections import deque
n,k = map(int, input().split())
b = list(map(int, input().split()))
deq = deque(b)
deq.rotate(n-k)
res = list(deq)
print(*res)

7 3
1 2 3 4 5 6 7
4 5 6 7 1 2 3

Given a number N, check if the sum of the digits is a Palindrome. Print 'yes' or 'no' accordingly.

In [2]:
a = int(input())
b = list(map(int, str(a)))
s = str(sum(b))
if s==s[::-1]:
  print("yes")
else:
  print("no")

13
yes

Rampal is a number in which the sum of last two digits of that number is multiple of 4.Your teacher has given you the task to make a list of rampal numbers.Your task is to tell whether the number is rampal or not.
Note : if the number is negative than rampal is a number which has sum of first and last digit as multiple of 4  

Input Description:
First line contains an input n

Output Description:
Print yes or no

In [3]:
a= input()
b= list(map(int, str(a)))
c= b[-1]+b[-2]
if c%4 == 0:
    print("yes")
else:
    print("no")

20
no

Given two integers L,R. How many numbers exist in [L,R] with sum of digits as a prime number
Note:In range of [L,R]- L is inclusive and R is exclusive

In [4]:
a,b = map(int, input().split())
res=[]
prime_1 = [2,3,5,7]
for i in range(a,b):
  d = list(map(int, str(i)))
  s = sum(d)
  if s in prime_1:
    res.append(i)
print(len(res))

1 10
4

Given a number N, print the sum of the squares of its digits.

In [5]:
a= input()
b= list(map(int, str(a)))
sum=0
for x in b:
    c= x*x
    sum=sum+c
print(sum)

19
82

Given a number N, print the first N Catalan numbers.

In [6]:
cat = [1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862, 16796, 58786, 208012, 742900, 2674440, 9694845]
a = int(input())
print(*cat[:a+1])

1
1 1

Given a number N, print the even factors of N.If the even factor does not exists for N print '-1'.

In [8]:
a= int(input())
fc= []
even=[]
for x in range(2,a+1):
    if a%x == 0:
        fc.append(x)
for i in fc:
    if i%2==0:
        even.append(i)
    else: print("-1")
print(*even)

8
2 4 8

Given a number N, print the sum of its first and last digit.

In [9]:
a= list(map(int, str(input())))
sum= a[0]+a[-1]
print(sum)

51233
8

Given a number N print the right-angled triangle with the top level having N 1's followed by each level with is one 1 lesser.

In [10]:
a= int(input())

for x in range(a,0,-1):
  li=[]
  c= "1"*x
  li= map(int, str(c))
  print(*li)

3
1 1 1
1 1
1

Given a number N followed by N numbers. Out of these N numbers some of them are repeated. Write a program to find the first number which is repeated. If no numbers are repeated print 'unique'.

In [11]:
a= int(input())
b= list(map(int, input().split()))
c= b[:a]
f=[]
for x in c:
  count=0
  for i in c:
    if x==i:
      count=count+1
      if count==2:
        f.append(x)
        break
    else: continue
if len(f)==0:
  print("unique")
else: print(f[0])

7
1 2 3 2 3 4 3
2