# Codekata_Mathematics_13

Given an arraylist A of string type which has name#mark1#mark2#mark3 format. Retrieve the name of the student who has scored max marks(total of three).

In [1]:
s1 = list(map(str, input().split("#")))
s2 = list(map(str, input().split("#")))
e = list(map(int, s1[1:]))
d = list(map(int, s2[1:]))
es = sum(e)
ds = sum(d)
f = s1[0]
g = s2[0]
t = {es:f, ds:g }
r = [es, ds]
print(t[max(r)])

arun#12#12#12
deepak#13#12#12
deepak

Given a number N, find the sum of prime numbers that end with 3 from 2 to N.

In [2]:
a= int(input())
pn= []
li=[]
sum=0
for x in range(2,a+1):
  for i in range(2,x):
    if x%i==0:
      break
  else:
    pn.append(x)
for e in pn:
  f= str(e)
  if f[-1]=='3':
    li.append(e)
for d in li:
  sum=sum+d
print(sum)

5
3

You are given with an array. Your task is to print the right rotated array after k operations.

Time:O(n)

Extra Space: O(1)

Input Description:
First line contains two number ‘n’ and ‘k’.Next line contains n space separated numbers.

Output Description:
Print the array as mentioned.

In [3]:
from collections import deque
n,k = map(int, input().split())
b = list(map(int, input().split()))
deq = deque(b)
deq.rotate(k)
res = list(deq)
print(*res)

14 117
15 26 35 98 61 1230 75 96 63 21 1654 98654 320145 987
21 1654 98654 320145 987 15 26 35 98 61 1230 75 96 63

Given a number N, How many ways are there to represent it as sum of 2 primes.

In [4]:
a= int(input())
pn=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
count=0
for x in pn:
  for i  in pn:
    if x+i == a:
      count=count+1
print(int(count/2))

10
1

Given three numbers L,R,N, print the count of numbers with occurences of the number N in [L,R].

In [5]:
L,R,N =map(int, input().split())
le= len(str(N))
count=0
for x in range(L,R+1):
  r= str(x)
  s=str(N)
  if r[0:le]==s or r[-1:-le-1:-1]==s:
    count=count+1
print(count)

10 130 11
11

You will be given an integer. Your task is to find the factorial of that big integer.

Input Description:
You are given an integer

Output Description:
Print the factorial of that number

In [6]:
a= int(input())

fact=1
for x in range(a,0,-1):
  fact= fact*x
  
print(fact)

100
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

Given an amount A(integer) find the number of currency notes required to make the amount up in the most optimal way. The available denominations are 1000,500,100,50,10,1. The question is set in PRE-DEMONITISATION era so 1000 rupee notes are available :)

In [7]:
a= int(input())
T = int(a/1000)
bal= a-(T*1000)
F = int(bal/500)
bal= bal-(F*500)
H = int(bal/100)
bal= bal-(H*100)
Fi = int(bal/50)
bal= bal-(Fi*50)
Te = int(bal/10)
bal = bal-(Te*10)
count= T+F+H+Fi+Te+bal
print(count)

689
15

Check whether the given 4 points form a square or not.

In [8]:
a1, b1= map(int, input().split())
b2, c2= map(int, input().split())
c3, c4= map(int, input().split())
d1, d2= map(int, input().split())

if b1==b2:
    if c2==c3==c4:
        if c4==d1:
            if d2==a1:
                print("yes")
            else:
                print("no")
        else:
            print("no")
    else:
      print("no")
else:
    print("no")

10 10
10 20
20 20
20 10
yes

In a cricket match the coach wanted to check the performance of batsmen o he decided strike rate as criteria. He planned that the two batsmen whose strike rate difference minimum will be sent no. 3 and no.4 in next match.Now your task is to help the coach in finding the two batsmen.

Input Description:
You are given an integer ’n’ denoting the size of array. Next line contains n space separated integers.

Output Description:
Print the strike rate of two batsmen in same order of their occurence

In [9]:
a = int(input())
b = list(map(float, input().split()))
diff=[]
for i in range(a-1):
  d = b[i]-b[i+1]
  diff.append(abs(d))
ind = diff.index(min(diff))
print(b[ind], b[ind+1])

6
138.3 156.5 156.6 160.2 198.3 146.2
156.5 156.6

A sequence is given by: 2, 6, 11, 17, 24,....

The first term is 2.

Given an integer N, find the Nth term of the sequence.

1 <= N <= 10^18

Since the answer can be very large print it modulo 1,000,000,007 (10^9 + 7)

Input Description:
The only line of input contains an integer N

Output Description:
Print the Nth term of the sequence

In [10]:
a=[2]
for i in range(4,100):
  d=a[-1]+i
  a.append(d)
p = int(input())
print(a[p-1])

5
24