# **Absolute Beginner**

You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + √(b² - 4ac) } / 2a & {-b-√(b² -4ac)} / 2a

Input Description:
Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:
Print the two values of X after rounding off to 2 decimal places if required.

In [1]:
a, b, c = list(map(int, input().split()))
d=(b**2)-(4*a*c)
e= (-b+(d**0.5))/(2*a)
f= (-b-(d**0.5))/(2*a)
print(format(e,".2f"))
print(format(f, ".2f"))

3 4 5
-0.67+1.11j
-0.67-1.11j

Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

In [2]:
a= int(input())
if a%4==0:
    print("Y")
else:
    print("N")

2020
Y

The area of an equilateral triangle is ¼(√3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

In [3]:
a= int(input())
b= (3**0.5)*(a**2)
c= b*0.25
print(round(c, 2))

4
6.93

You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

In [4]:
a= ["Error", 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
b= int(input())
if (b<=12):
    print(a[b])
else:
    print("Error")

4
30

Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input

Output Description:
Remove all the whitespaces and then print the length of the remaining string.

In [5]:
a= str(input())
b= a.replace(" ", "")
print(len(b))

Hello world
10

Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

In [6]:
a= int(input())
for x in range(a,0,-1):
  print(x)

5
5
4
3
2
1

You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

In [8]:
a= int(input())
b= int(input())
c= int(input())
if(a>b):
    if(a>c):
        print(a)
    else:
        print(c)
elif(b>c):
        print(b)
else:
        print(c)

5
10
15
15

Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

In [9]:
a= input()
b= list(map(int, str(a)))
sum=0
for i in b:
  sum=sum+i
print(sum)

5
5

You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

In [10]:
a= input().split(" ")
b= list(map(int, a))
if (b[0]>b[1]):
    print(b[1])
else:
    print(b[0])

5 10
5

Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

In [11]:
a= int(input())
b= a+1
for x in range(1,b,1):
    if (x%2 == 0):
        print(x)

10
2
4
6
8
10